:root{

}

body {
   background-color: #F5F5F5;
   color: ;

   font-family: ;
   letter-spacing: ;
   font-size: ;
   line-height: ;
}
.logo {
    color: ;
    font-family: ;

    font-size: ;
    line-height: ;
}